@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,900&family=Source+Sans+3:wght@200;400;600;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Source Sans 3', sans-serif;
}

.bolder {
    font-weight: 900;
}

.separa {
    background-image: url(assets/3\ imagem.png);
    background-size: cover;
    width: 100vw;
    height: 232px;
}

.separaDois {
    width: 100vw;
    height: 100px;
}

.sessaoUm {
    background-size: 100vw;
    height: 100vh;
    background-image: url(assets/1\ imagem.png);
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 100vw;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu {
    width: 100vw;
    height: 80px;
    background-color: #004badaf;
    display: flex;
    flex-direction: row;
}

.menuDois {
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuDois > ul {
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    height: fit-content;
}

.search {
    width: 38px;
    position: relative;
    top: 8px;
}

.menuDois > ul > li{
    list-style: none;
    flex-direction: row;
    height: 100px;
    width: fit-content;
    margin: 30px;
    color: white;
}

.menu > .logo > a > img {
    width: 150px;
    
}

.redes {
    width: fit-content;
    left: 77vw;
    bottom: 3px;
    position: relative;
}

.redes > a > img {
    width: 50px;
    position: relative;
  
}

.redes > a > .site {
    position: relative;
    width: 70px;
    top: 10px;
}

.sessaoDois {
    height: 80vh;
    background-image: url(assets/2\ imagem.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    width: 35vw;
    padding-left: 50px;
    padding-top: 50px;
    color: white;
    line-height: 45px;
}

.textUm {
    width: 28vw;
    padding-left: 50px;
    color: white;
    line-height: 75px;
    font-size: 80px;
    font-weight: 100;
}

.textUm > p {
    position: relative;
    bottom: 100px;
}

.textUm > p > span {
    font-size: 100px;
    letter-spacing: 10px;
}

.hist > h3 {
    text-align: center;
    color: #004bad;
    font-weight: 100;
    font-size: 50px;
}

.setaHist {
    background-image: url(assets/seta\ fundo\ nossa\ historia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: fit-content;
}

.text > h1 {
    font-size: 60px;
}

.text >h1 > span {
    font-weight: 100;
}

.text > p {
    font-size: 25px;
}

.textH {
    width: 100vw;
    display: flex;
    color: white;
}

.textH > h3 {
    position: relative;
    font-size: 150px;
    left: 500px;
    font-weight: 100;
}

.textH > p {
    width: 35vw;
    font-size: 25px;
    margin: 20px;
    padding: 50px;
}

.vaMiVi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
}

.card {
    padding: 20px;
    width: 30vw;
    background: rgb(0,80,190);
background: linear-gradient(90deg, rgba(0,80,190,1) 0%, rgba(3,102,234,1) 43%, rgba(0,80,190,1) 100%);
    height: 550px;
    color: white;
    box-shadow: 0 0 50px 25px #004badaf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.1);
    transition: all 1s;   
  }

.card > p {
    width: 24vw;
    padding: 0vw 2vw 0vw 2vw;
    text-align: justify;
    
}

.card > h2 {
    text-align: center;
    font-weight: 100;
    font-size: 35px;
}

.card > img {
    width: 100px;
}

.cardC {
    padding: 20px;
    width: 32vw;
    background: rgb(0,28,68);
background: linear-gradient(90deg, rgba(0,28,68,1) 0%, rgba(0,74,173,1) 43%, rgba(0,28,68,1) 100%);
    height: 500px;
    color: white;
    box-shadow: 0 0 50px 25px #004badaf;
}

.row {
    display: flex;
    justify-content: center;
}

.row > img {
    width: 25px;
    cursor: pointer;
}

.rodape {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.degrade1, .degrade2, .degrade3, .degrade4  {
    height: 23px;
}

.degrade1 {
    background-color: #004bad69;
}

.degrade2 {
    background-color: #004bad8c;
}

.degrade3 {
    background-color: #004badb0;
}

.degrade4 {
    background-color: #004badea;
}

.meio {
    background-color: #004bad;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.base {
    background-color: #16356e;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.base > h3 {
    margin: 0;
}

.base > h3 > a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 33pt;
}

.logoR {
    width: 25vw;
    left: 1vw;
    position: relative;
    top: 100px;
}

.logoR > img {
    width: 20vw;
    
}

.menusR, .menuR2, .menuR1, .menuR3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 29px;
    position: relative;
    top: 25px;
    left: 1vw;
    font-weight: 200;
}

.menuR1 > ul > li {
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menuR2 > ul > li {
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menuR3 > ul > li {
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menuR2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 180px;
}

.menuR3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 200px;
    top: -15px;
}




.inicio {
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    font-size: 29px;
    left: 8vw;
    font-weight: 900;
    top: 25px;
}

.redesR {
    width: fit-content;
    position: relative;
    left: 5vw;
}

.redesR > a > img {
    width: 75px;
}